openapi: 3.0.3
info:
  title: Quandoo Public Partner API
  description: The Quandoo Public Partner API is a multi-purpose REST API for the Quandoo restaurant reservations platform. It lets partners check merchant availability, search merchants, read merchant reservation and enquiry settings, create and manage reservations and reservation enquiries, manage customers and reviews, handle preorders and reservation tags, and validate phone numbers. Reservation and enquiry creation is idempotent via an agent-specific unique identifier. Derived from the official Quandoo Swagger specification at https://api.quandoo.com/swagger.json.
  version: 1.0.0
  contact:
    name: Quandoo Developers
    email: developers@quandoo.com
    url: https://docs.quandoo.com/
servers:
- url: https://public-api.prod.quandoo.com
  description: Production
tags:
- name: Status
- name: Customers
- name: Merchants
- name: Reservation Enquiries
- name: Availabilities
- name: Reservations Tags
- name: Reservation Settings
- name: Preorder
- name: Reservations
- name: Reviews
- name: Validations
security:
- API_TOKEN: []
paths:
  /v1/status:
    get:
      tags:
      - Status
      summary: Quandoo Provides Information on the Status of the Service
      operationId: getStatusByGet_1
      responses:
        '200':
          description: OK
        '500':
          description: Internal server error
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Quandoo Get Customer Data
      operationId: getCustomer_1
      description: "This endpoint allows an agent to get customer information by id.  \nCustomer id both in the request and response are agent-specific. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the customer with the specified id could not be found.\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated or the agent doesn't have permissions.\n\n####Request:\n* **customerId**: Agent-specific ID of the customer\n\n####Response:\nThe response contains the following data of the customer as explained below:\n* **id**: The agent-dependent identifier of the customer \n* **email**: The given email of this customer. _Optional_\n* **firstName**: First name of the customer. _Optional_\n* **lastName**: Last name of the customer. _Optional_\n* **gender**: The given gender of the customer (one of MALE, FEMALE, OTHER or UNDEFINED). _Optional_\n* **phoneNumber**: The ID of the merchant at which this reservation was made\n* **mobileNumber**: The ID of the customer to which this reservation belongs\n* **country**: 2-letter ISO country code of the customer, e.g. DE\n* **links**: Related links that can be followed based on this response\n* **subscriptions**: The newsletter subscriptions, e.g. QUANDOO, MERCHANT\n\nExample curl:\n```\ncurl https://{host}/v{X}/customers/9ffb3466-3562-42cc-add1-92a46a2f0902\n```\n\nExample response: \n```\n{\n  \"id\": \"9ffb3466-3562-42cc-add1-92a46a2f0902\",\n  \"firstName\": \"Gaius\",\n  \"lastName\": \"Octavius\",\n  \"gender\": \"male\",\n  \"email\": \"c2f22117-6148-45b8-ae79-41eda25eae67augustus@spqr.com\",\n  \"phoneNumber\": \"+4917312345678\",\n  \"country\": \"DE\",  \n  \"links\": [\n    {\n      \"href\": \"http://localhost:39250/v1/customers/9ffb3466-3562-42cc-add1-92a46a2f0902/reservations\",\n      \"method\": \"GET\",\n      \"rel\": \"get-customer-reservations\"\n    }\n  ],\n  \"subscriptions\": [\n    {\n      \"id\": \"QUANDOO\"\n    }\n  ]\n}\n```\n"
      parameters:
      - name: customerId
        in: path
        required: true
        description: Id of the customer
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerResponse'
              examples:
                GetCustomer1200Example:
                  summary: Default getCustomer_1 200 response
                  x-microcks-default: true
                  value:
                    id: '88086'
                    firstName: Jane
                    lastName: Smith
                    gender: male
                    email: jane.smith@example.com
                    phoneNumber: '030120765890'
                    mobileNumber: string
                    country: DE
                    links:
                    - href: {}
                      method: {}
                      rel: {}
                    subscriptions:
                    - id: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomer1400Example:
                  summary: Default getCustomer_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomer1403Example:
                  summary: Default getCustomer_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomer1404Example:
                  summary: Default getCustomer_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomer1500Example:
                  summary: Default getCustomer_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/customers/{customerId}/reservations:
    get:
      tags:
      - Customers
      summary: Quandoo Get Customer Reservations
      operationId: getReservations_1
      description: "This endpoint allows an agent to get reservations of a customer. The results will be filtered by agent id. \nCustomer id in the request and reservation IDs in response are agent-specific. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the customer with the specified id could not be found.\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated or the agent doesn't have permissions.\n\n####Request:\n* **customerId**: Agent-specific ID of the customer\n\n####Response:\nThe response will be a _list_ of reservations. Each reservation has the fields explained below:\n* **id**: The agent-dependent unique id of the reservation\n* **number**: Quandoo internal identifier of the reservation.\n* **quandooId**: The public id of this reservation on quandoo system.\n* **status**: The status of the reservation eg. CREATED, CONFIRMED, CUSTOMER CANCELED etc.\n* **startTime**: The start time of the reservation. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **endTime**: The end time of the reservation. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **capacity**: The capacity (people count) of the reservation\n* **merchantId**: The ID of the merchant at which this reservation was made.\n* **customerId**: The public ID of the customer to which this reservation belongs\n* **promoCode**: The promotion code associated with this reservation. Optional.\n* **extraInfo**: extra information that the customer provided for the reservation. Optional.\n* **links**: Related links that can be followed based on this response.\n* **createdAt**: The date the reservation was created. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **updatedAt**: The date the reservation was last updated. Format: `yyyy-MM-ddTHH:mm:ssZ`\n\nExample curl:\n```\ncurl https://{host}/v{X}/customers/ce0706ff-a95d-4229-a220-d21dcd175342/reservations\n```\n\nExample response: \n```\n{\n  \"reservations\": [\n    {\n      \"id\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n      \"number\": 8734957,\n      \"quandooId\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n      \"status\": \"CREATED\",\n      \"startTime\": \"2015-06-22T12:00:00+00:00\",\n      \"endTime\": \"2015-06-22T13:00:00+00:00\",\n      \"capacity\": 4,\n      \"merchantId\": 1384,\n      \"customerId\": \"ce0706ff-a95d-4229-a220-d21dcd175342\",\n      \"promocode\": \"SOME_CAMPAIGN_CODE\",\n      \"extraInfo\": \"request for baby chair\",\n      \"links\": [\n        {\n          \"href\": \"https://{host}/v{X}/reservations/07f53b36-3f48-11e5-a151-feff819cdc9f\",\n          \"method\": \"GET\",\n          \"rel\": \"self\"\n        },\n        {\n          \"href\": \"https://{host}/v{X}/reservations/07f53b36-3f48-11e5-a151-feff819cdc9f\",\n          \"method\": \"PATCH\",\n          \"rel\": \"update\"\n        }\n      ],\n      \"createdAt\": \"2015-06-01T15:21:54Z\",\n      \"updatedAt\": \"2015-06-01T18:45:30Z\"\n    },\n    {\n      \"id\": \"d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n      \"number\": 8734958,\n      \"quandooId\": \"d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n      \"status\": \"CONFIRMED\",\n      \"startTime\": \"2015-06-22T12:00:00+00:00\",\n      \"endTime\": \"2015-06-22T13:00:00+00:00\",\n      \"capacity\": 3,\n      \"merchantId\": 1384,\n      \"customerId\": \"ce0706ff-a95d-4229-a220-d21dcd175342\",\n      \"promocode\": \"SOME_CAMPAIGN_CODE\",\n      \"links\": [\n        {\n          \"href\": \"https://{host}/v{X}/reservations/d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n          \"method\": \"GET\",\n          \"rel\": \"self\"\n        },\n        {\n          \"href\": \"https://{host}/v{X}/reservations/d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n          \"method\": \"PATCH\",\n          \"rel\": \"update\"\n        }\n      ],\n      \"createdAt\": \"2015-06-01T15:21:54Z\",\n      \"updatedAt\": \"2015-06-01T18:45:30Z\"\n    }\n  ]\n}\n```\n"
      parameters:
      - name: customerId
        in: path
        required: true
        description: Id of the customer
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationDataList'
              examples:
                GetReservations1200Example:
                  summary: Default getReservations_1 200 response
                  x-microcks-default: true
                  value:
                    reservations:
                    - id: {}
                      number: {}
                      reservationNumber: {}
                      quandooId: {}
                      status: {}
                      updatedAt: {}
                      capacity: {}
                      merchantId: {}
                      customerId: {}
                      promocode: {}
                      extraInfo: {}
                      links: {}
                      reservationTags: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations1400Example:
                  summary: Default getReservations_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations1403Example:
                  summary: Default getReservations_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations1404Example:
                  summary: Default getReservations_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations1500Example:
                  summary: Default getReservations_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/similar:
    get:
      tags:
      - Merchants
      summary: Quandoo Allows to Get a Merchant by Id and Find Similar Merchants
      operationId: searchSimilar_1
      description: "This endpoint allows to receive detailed information for a particular merchant in the system and for restaurants that are similar to this one.\nA merchant is similar if all the following conditions are met:\n1. Location: the recommended merchants are within 30 km radius from the main merchant\n2. The similar merchants are bookable online\n3. The similar merchants have the main cuisine in common\n\nThis merchant should be specified by their identifier **merchantId**, which is mandatory.\nThe endpoint can take optional request header **Accept-Language**.\nThis header is used to determine correct locale and has an effect on translation of merchant's entity fields, that may be omitted.\n\nThe expected value of the header **Accept-Language** should contain language and can contain country, e.g. \"de_DE\" or \"de\". Locale by default is \"en_GB\".\n\nThe endpoint returns status `HTTP 200` if the request is successful. In a successful requests the specified merchant was found.\n\nIf the merchant has no products allowed for a web search, i.e. is not bookable, response data with `HTTP 200` is returned, but the field `merchant` is not set. Instead, the merchant search message is set.\n\nThe endpoint will return status `HTTP 404` if the merchant, specified by identifier, was not found.\n\nExample curl:\n```\ncurl  -H 'X-Quandoo-AuthToken: {INSERT_KEY_HERE}' -H 'Accept-Language: de_DE' 'https://{host}/v{X}/merchants/11/similar'\n```\n\nExample responses:\n`merchant bookable`\n```\n{\n    \"merchant\": {\n        \"id\":11,\n        \"name\":\"Test merchant\",\n        \"phoneNumber\":\"+27113901837\",\n        \"currency\":\"ZAR\",\n        \"locale\":\"en_ZA\",\n        \"timezone\":\"Africa/Johannesburg\",\n        \"location\":{\n            \"coordinates\":{\n                \"latitude\":33.9,\n                \"longitude\":18.4\n            },\n            \"address\":{\n                \"street\":\"Tamerlan street\",\n                \"number\":\"6A\",\n                \"zipcode\":\"10787\",\n                \"city\":\"Cape Town\",\n                \"country\":\"ZAF\"\n            }\n        },\n        \"reviewScore\": \"5.3\",\n        \"tagGroups\":[\n            {\n                \"type\":\"CUISINE\",\n                \"tags\":[\n                    {\n                        \"id\":25,\n                        \"name\":\"Testküche Hauptkategorie\"\n                    },\n                    {\n                        \"id\":28,\n                        \"name\":\"Test cuisine\"\n                    }\n                ]\n            }\n        ],\n        \"images\":[\n            {\n                \"url\":\"https://dci5ez2ey8tr9.cloudfront.net/8e4d1063-9171-40b1-94b7-5e9337591a90/7_sld.jpg\"\n            }\n        ],\n        \"documents\":[],\n        \"links\":[\n            {\n                \"href\":\"https://{host}/{path}?aid=16\",\n                \"method\":\"GET\",\n                \"rel\":\"DETAILS\"\n            },\n            {\n                \"href\":\"https://{host}/{path}?aid=16&countryId=NLD\",\n                \"method\":\"GET\",\n                \"rel\":\"WIDGET\"\n            },\n            {\n                \"href\":\"https://{host}/{path}/details?aid=16&countryId=NLD\",\n                \"method\":\"GET\",\n                \"rel\":\"WIDGET_DETAILS\"\n            }\n        ],\n        \"bookable\": true,\n        \"openingTimes\": {\n          \"standardOpeningTimes\": {\n            \"SATURDAY\": [\n              {\n                \"start\": \"09:00:00\",\n                \"end\": \"20:00:00\"\n              }\n            ],\n            \"SUNDAY\": [\n              {\n                \"start\": \"09:00:00\",\n                \"end\": \"18:00:00\"\n              }\n            ]\n          }\n        },\n        \"ccvEnabled\": true,\n        \"chain\": {\n           \"id\": 1,\n           \"name\": \"Test chain\"\n        }\n    },\n   \"recommendedMerchants\": {\n        \"merchants\": [\n            {\n                \"id\":12,\n                \"name\":\"similar merchant\"\
        ,\n                \"phoneNumber\":\"+27113901838\",\n                \"currency\":\"ZAR\",\n                \"locale\":\"en_ZA\",\n                \"timezone\":\"Africa/Johannesburg\",\n                \"location\":{\n                    \"coordinates\":{\n                        \"latitude\":33.8,\n                        \"longitude\":18.4\n                    },\n                    \"address\":{\n                        \"street\":\"Tamerlan street\",\n                        \"number\":\"5A\",\n                        \"zipcode\":\"10787\",\n                        \"city\":\"Cape Town\",\n                        \"country\":\"ZAF\"\n                    }\n                },\n                \"reviewScore\": \"5.3\",\n                \"tagGroups\":[\n                    {\n                        \"type\":\"CUISINE\",\n                        \"tags\":[\n                            {\n                                \"id\":25,\n                                \"name\":\"Testküche Hauptkategorie\"\n                            },\n                            {\n                                \"id\":28,\n                                \"name\":\"Test cuisine\"\n                            }\n                        ]\n                    }\n                ],\n                \"images\":[\n                    {\n                        \"url\":\"https://dci5ez2ey8tr9.cloudfront.net/8e4d1063-9171-40b1-94b7-5e9337591a90/7_sld.jpg\"\n                    }\n                ],\n                \"documents\":[],\n                \"links\":[\n                    {\n                        \"href\":\"https://{host}/{path}?aid=16\",\n                        \"method\":\"GET\",\n                        \"rel\":\"DETAILS\"\n                    },\n                    {\n                        \"href\":\"https://{host}/{path}?aid=16&countryId=NLD\",\n                        \"method\":\"GET\",\n                        \"rel\":\"WIDGET\"\n                    },\n                    {\n                        \"href\":\"https://{host}/{path}/details?aid=16&countryId=NLD\",\n                        \"method\":\"GET\",\n                        \"rel\":\"WIDGET_DETAILS\"\n                    }\n                ],\n                \"bookable\": true,\n                \"openingTimes\": {\n                  \"standardOpeningTimes\": {\n                    \"SATURDAY\": [\n                      {\n                        \"start\": \"09:00:00\",\n                        \"end\": \"20:00:00\"\n                      }\n                    ],\n                    \"SUNDAY\": [\n                      {\n                        \"start\": \"09:00:00\",\n                        \"end\": \"18:00:00\"\n                      }\n                    ]\n                  }\n                },\n                \"ccvEnabled\": true,\n                \"chain\": {\n                   \"id\": 1,\n                   \"name\": \"Test chain\"\n                }\n            }\n        ],\n        \"size\": 1,\n        \"offset\": 0,\n        \"limit\": 10\n    }\n}\n```\n\n`merchant not bookable`\n```\n{\n    \"merchantSearchMessage\": \"MERCHANT_NOT_BOOKABLE\",\n    \"recommendedMerchants\": {\n        \"limit\": 10,\n        \"merchants\": [...],\n        \"offset\": 0,\n        \"size\": 0\n    }\n}\n```"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: merchantId
        schema:
          type: integer
          format: int32
      - name: sort
        in: query
        required: false
        description: Sort order. Default sorting will be by proximity.
        schema:
          type: string
          enum:
          - CLOSEST
          default: CLOSEST
      - name: limit
        in: query
        required: false
        description: Max number of merchant recommendations to return.
        schema:
          type: integer
          format: int32
          default: 10
      - name: Accept-Language
        in: header
        required: false
        description: Locale.<br>Format:<br>&lt;language code&gt;[_&lt;country code&gt;]
        schema:
          type: string
          default: en_GB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantWithRecommendationsDto'
              examples:
                SearchSimilar1200Example:
                  summary: Default searchSimilar_1 200 response
                  x-microcks-default: true
                  value:
                    merchant:
                      id: 1
                      name: Sample Restaurant
                      phoneNumber: '030120765890'
                      currency: EUR
                      locale: de_DE
                      timezone: 19:30:00
                      location: {}
                      reviewScore: string
                      tagGroups:
                      - {}
                      images:
                      - {}
                      documents:
                      - {}
                      links:
                      - {}
                      bookable: true
                      openingTimes: {}
                      ccvEnabled: true
                      chain: {}
                      ivrRedirectNumber: string
                      shortDescription: Window table preferred if available.
                      longDescription: Window table preferred if available.
                    merchantSearchMessage: MERCHANT_NOT_BOOKABLE
                    recommendedMerchants:
                      merchants:
                      - {}
                      size: 1
                      offset: 1
                      limit: 1
        '404':
          description: Merchant not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                SearchSimilar1404Example:
                  summary: Default searchSimilar_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}:
    get:
      tags:
      - Merchants
      summary: Quandoo Allows to Get a Merchant by Id
      operationId: search_2
      description: "This endpoint allows to receive detailed information on a particular merchant in the system. This merchant should be specified by their identifier **merchantId**, which is mandatory. The endpoint can take optional request header **Accept-Language**. This header is used to determine correct locale and has an effect on translation of merchant's entity fields, that may be omitted.\n\nThe expected value of the header **Accept-Language** should contain language and can contain country, e.g. \"de_DE\" or \"de\". Locale by default is \"en_GB\".\n\nThe endpoint returns status `HTTP 200` if the request is successful.\nThe endpoint will return status `HTTP 404` if the merchant, specified by identifier, was not found or has no products, allowed for a web search. \n\nExample curl:\n```\ncurl  -H 'X-Quandoo-AuthToken: {INSERT_KEY_HERE}' -H 'Accept-Language: de_DE' 'https://{host}/v{X}/merchants/11'\n```\n\nExample response:\n```\n{\n    \"id\":11,\n    \"name\":\"Test merchant\",\n    \"phoneNumber\":\"+27113901837\",\n    \"currency\":\"ZAR\",\n    \"locale\":\"en_ZA\",\n    \"timezone\":\"Africa/Johannesburg\",\n    \"location\":{\n        \"coordinates\":{\n            \"latitude\":33.9,\n            \"longitude\":18.4\n        },\n        \"address\":{\n            \"street\":\"Tamerlan street\",\n            \"number\":\"6A\",\n            \"zipcode\":\"10787\",\n            \"city\":\"Cape Town\",\n            \"country\":\"ZAF\"\n        }\n    },\n    \"reviewScore\": \"5.3\",\n    \"tagGroups\":[\n        {\n            \"type\":\"CUISINE\",\n            \"tags\":[\n                {\n                    \"id\":25,\n                    \"name\":\"Testküche Hauptkategorie\"\n                },\n                {\n                    \"id\":28,\n                    \"name\":\"Test cuisine\"\n                }\n            ]\n        }\n    ],\n    \"images\":[\n        {\n            \"url\":\"https://dci5ez2ey8tr9.cloudfront.net/8e4d1063-9171-40b1-94b7-5e9337591a90/7_sld.jpg\"\n        }\n    ],\n    \"documents\":[],\n    \"links\":[\n        {\n            \"href\":\"https://{host}/{path}?aid=16\",\n            \"method\":\"GET\",\n            \"rel\":\"DETAILS\"\n        },\n        {\n            \"href\":\"https://{host}/{path}?aid=16&countryId=NLD\",\n            \"method\":\"GET\",\n            \"rel\":\"WIDGET\"\n        },\n        {\n            \"href\":\"https://{host}/{path}/details?aid=16&countryId=NLD\",\n            \"method\":\"GET\",\n            \"rel\":\"WIDGET_DETAILS\"\n        }\n    ],\n    \"bookable\": true,\n    \"openingTimes\": {\n      \"standardOpeningTimes\": {\n        \"SATURDAY\": [\n          {\n            \"start\": \"09:00:00\",\n            \"end\": \"20:00:00\"\n          }\n        ],\n        \"SUNDAY\": [\n          {\n            \"start\": \"09:00:00\",\n            \"end\": \"18:00:00\"\n          }\n        ]\n      }\n    },\n    \"ccvEnabled\": true,\n    \"chain\": {\n       \"id\": 1,\n       \"name\": \"Test chain\"\n    }\n}\n```"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: merchantId
        schema:
          type: integer
          format: int32
      - name: Accept-Language
        in: header
        required: false
        description: Locale.<br>Format:<br>&lt;language code&gt;[_&lt;country code&gt;]
        schema:
          type: string
          default: en_GB
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetailsDto'
              examples:
                Search2200Example:
                  summary: Default search_2 200 response
                  x-microcks-default: true
                  value:
                    id: 1
                    name: Sample Restaurant
                    phoneNumber: '030120765890'
                    currency: EUR
                    locale: de_DE
                    timezone: 19:30:00
                    location:
                      coordinates: {}
                      address: {}
                    reviewScore: string
                    tagGroups:
                    - type: {}
                      tags: {}
                    images:
                    - url: {}
                    documents:
                    - name: {}
                      url: {}
                      format: {}
                      description: {}
                    links:
                    - href: {}
                      method: {}
                      rel: {}
                    bookable: true
                    openingTimes:
                      standardOpeningTimes: {}
                    ccvEnabled: true
                    chain:
                      id: 1
                      name: Sample Restaurant
                    ivrRedirectNumber: string
                    shortDescription: Window table preferred if available.
                    longDescription: Window table preferred if available.
        '404':
          description: Merchant not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Search2404Example:
                  summary: Default search_2 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants:
    get:
      tags:
      - Merchants
      summary: Quandoo Allows to Get Merchant Information by Parameters
      operationId: search
      description: "###Description\n\nThis endpoint is used to search merchants by a set of parameters.\nFor each merchant in the result there is information about location, language and tags that describe this merchant's basic characteristics, there is also a set of images selected by the merchant.\n\n####Possible query parameters:\n\n##Mandatory geo parameters (at least one of two options must be provided)\n\n* **place**: Filter for merchant on a country, city or district whose name matches the parameter. (if the parameter does not match any city or district on the system it is ignored)\n* **centerPoint**: Filter merchants within the circle defined by center on centerPoint and radius defined by radius parameter (if not informed defaults to 10). Center point has the format LATITUDE,LONGITUDE with both parameters as numbers with . as decimal separator (e.g `centerPoint=52.547928,13.4085728`)\n\n* **query**: Filter merchants using text similarity on a number of merchant fields like name, description, categories and tags\n* **placeIds**: DEPRECATED. Filter for merchant by id of place. Semicolon separated integer value.\n* **radius**: The radius of the circle to filter merchants in **kilometers**. Defaults to 10 and is only used if *centerPoint* is also informed\n* **bookable**: Boolean value, if informed true means that only merchants that are online bookable will be returned and false means that only merchants that are NOT online bookable will be returned\n* **tags**: Filter out merchants with the selected tags text. Semicolon separated text value. All or nothing field: if a tag is not found, the query will fail. Cannot be used in conjunction with 'tagIds' parameter.\n* **tagIds**: Filter out merchants with the selected tag ids. Semicolon separated text value. All or nothing field: if a tag is not found, the query will fail. Cannot be used in conjunction with 'tags' parameter.\n* **reviewScoreMax**: Filter out merchants with review score higher than the one informed.\n* **onlyWithAttributes**: This field only accepts the value **documents** for now. If informed only merchants with documents will be returned. You need to have required permissions to use this filter\n* **capacity**: Number of people. In order to be effective, \"place\", \"date\" and \"fromTime\" must also be set.\n* **date**: Date of the desired reservation in merchants' time zone. Format: yyyy-MM-dd. Availability search is only activated if \"place\" is specified.\n* **fromTime**: Beginning of the desired reservation time frame in merchants' time zone. Format: HH:mm. Consider a 3h buffer for the time (0.5h before the given time and 2.5h after)\n* **offset**: Number of merchants to skip on the result. Defaults to 0\n* **limit**: Maximum number of merchants to return. Defaults to 100 and cannot be more than 100.\n* **ivrNumber**: Filter out merchants with phone number.\n\n\n####Result fields for Merchant object:\n\n* **id**: Id of the merchant\n* **name**: Name of the merchant\n* **phoneNumber**: The phone number of the merchant\n* **currency**: Currency of the merchant in the ISO 4217 letter format\n* **locale**: Locale used to communicate with this merchant\n* **timezone**: Canonical Timezone name\n* **location**: Location of the merchant, contains both an geo located point and an address if available\n* **reviewScore**: Review score of the merchant\n* **tagGroups**: Tags (grouped) about relevant merchant characteristics\n* **images**: Group of images selected by the merchant\n* **documents**: Group of documents released by this merchant (e.g seasonal menus )\n* **links**: Links for other pages or api operations for this merchant\n* **bookable**: The flag indicates whether the merchant is bookable or not\n* **openingTimes**: Group of opening times: restaurant opening times for this merchant. Time range beginning may be greater than the end time of the range, when this range goes beyond the day when it was started, e.g. 19:00:00 - 02:00:00\n* **ccvEnabled**: If true, credit card information is required when creating a reservation\n* **chain**: Merchant chain
        information, if any\n* **ivrRedirectNumber**: The IVR forwarding phone number, requires permission\n* **shortDescription**: Merchant short description, requires permission\n* **longDescription**: Merchant long description, requires permission\n\n\n###Authenticated use of the api:\n* Field `documents` is only accessible for authorized callers and will be empty otherwise.\n* Queries with parameter `onlyWithAttributes` are only allowed for authorized callers and will return `HTTP 403` for unauthorized requests\n\n#####How?\nIn order to make an authenticated call the caller must send a header name `X-Quandoo-AuthToken` with the token obtained from contact with Quandoo.\n\n###Pagination of the result:\n\nThe result contains the fields `size` with the number of all merchants that matched the informed parameters, `offset` and `limit` defining which merchants from the complete list are on this response,\nand the caller can use query parameters `offset` and `limit` to get different merchants on the result list\n\n###Examples:\n\nExample curl:\n```\ncurl -H 'X-Quandoo-AuthToken: INSERT_KEY_HERE' 'https://{host}/v{X}/merchants?query=Zim&place=Berlin&amp;centerPoint=52.5479288%2C13.4085728&radius=10&bookable=true&reviewScoreMax=200&onlyWithAttributes=documents&offset=0&limit=100'\n```\n\nExample response:\n```\n{\n  \"merchants\": [\n    {\n      \"id\": 215,\n      \"name\": \"a-merchant-Zim\",\n      \"phoneNumber\": \"+49153153153\",\n      \"currency\": \"EUR\",\n      \"locale\": \"de_DE\",\n      \"timezone\": \"Europe/Berlin\",\n      \"location\": {\n        \"coordinates\": {\n          \"latitude\": 55,\n          \"longitude\": 12\n        },\n        \"address\": {}\n      },\n      \"reviewScore\": \"5.3\",\n      \"tagGroups\": [\n        {\n          \"type\": \"CUISINE\",\n          \"tags\": [\n            {\n              \"id\": 63,\n              \"name\": \"Testküche Hauptkategorie\"\n            },\n            {\n              \"id\": 66,\n              \"name\": \"Test cuisine\"\n            }\n          ]\n        }\n      ],\n      \"images\": [],\n      \"documents\": [\n        {\n          \"name\": \"Main Menu\",\n          \"url\": \"https://d2s6u6f7snurg9.cloudfront.net/partner/uploads/MD-document-3ec1dc15-1b69-463f-bdd2-c060b9bf844d.pdf\",\n          \"format\": \"pdf\",\n          \"description\": \"Seasonal Main Menu\"\n        }\n      ],\n      \"links\": [\n        {\n          \"href\": \"https://{host}/{path}?aid=16\",\n          \"method\": \"GET\",\n          \"rel\": \"DETAILS\"\n        },\n        {\n          \"href\": \"https://{host}/{path}?aid=16&countryId=NLD\",\n          \"method\": \"GET\",\n          \"rel\": \"WIDGET\"\n        },\n        {\n          \"href\": \"https://{host}/{path}/details?aid=16&countryId=NLD\",\n          \"method\": \"GET\",\n          \"rel\": \"WIDGET_DETAILS\"\n        }\n      ],\n      \"bookable\": true,\n      \"ccvEnabled\": true,\n      \"chain\": {\n        \"id\": 1,\n        \"name\": \"Test chain\"\n      },\n      \"ivrRedirectNumber\": \"+49153153153\",\n      \"shortDescription\": \"Test short description\",\n      \"longDescription\": \"Test long description\",\n    },\n    {\n      \"id\": 219,\n      \"name\": \"another merchants Zim\",\n      \"phoneNumber\": \"+49154154154\",\n      \"currency\": \"EUR\",\n      \"locale\": \"de_DE\",\n      \"timezone\": \"Europe/Berlin\",\n      \"location\": {\n        \"coordinates\": {\n          \"latitude\": 52,\n          \"longitude\": 13\n        },\n        \"address\": {\n          \"street\": \"Wintersteinstr.\",\n          \"number\": \"15\",\n          \"zipcode\": \"10587\",\n          \"city\": \"Berlin\",\n          \"country\": \"DEU\"\n        }\n      },\n      \"reviewScore\": \"4.7\",      \n      \"tagGroups\": [\n        {\n          \"type\": \"CUISINE\",\n          \"tags\": [\n            {\n              \"id\": 79,\n              \"name\": \"Testküche Hauptkategorie\"\n            },\n            {\n              \"id\": 82,\n              \"name\": \"Test Japanese\"\
        \n            }\n          ]\n        },\n        {\n          \"type\": \"PRICE\",\n          \"tags\": [\n            {\n              \"id\": 84,\n              \"name\": \"Test expensive\"\n            }\n          ]\n        }\n      ],\n      \"images\": [\n        {\n          \"url\": \"https://dci5ez2ey8tr9.cloudfront.net/1482eec7-e585-4821-b096-8a9941e0d2eb/25_sld.jpg\"\n        }\n      ],\n      \"documents\": [],\n      \"links\": [\n        {\n          \"href\": \"https://{host}/{path}?aid=16\",\n          \"method\": \"GET\",\n          \"rel\": \"DETAILS\"\n        },\n        {\n          \"href\": \"https://{host}/{path}?aid=16&countryId=NLD\",\n          \"method\": \"GET\",\n          \"rel\": \"WIDGET\"\n        },\n        {\n          \"href\": \"https://{host}/{path}/details?aid=16&countryId=NLD\",\n          \"method\": \"GET\",\n          \"rel\": \"WIDGET_DETAILS\"\n        }\n      ],\n      \"bookable\": true,\n      \"openingTimes\": {\n        \"standardOpeningTimes\": {\n          \"SATURDAY\": [\n            {\n              \"start\": \"09:00:00\",\n              \"end\": \"20:00:00\"\n            }\n          ],\n          \"SUNDAY\": [\n            {\n              \"start\": \"09:00:00\",\n              \"end\": \"18:00:00\"\n            }\n          ]\n        }\n      },\n      \"ccvEnabled\": true,\n      \"chain\": {\n        \"id\": 1,\n        \"name\": \"Test chain\"\n      },\n      \"ivrRedirectNumber\": \"+49153153153\",\n      \"shortDescription\": \"Test short description\",\n      \"longDescription\": \"Test long description\",\n    }\n  ],\n  \"size\": 2,\n  \"offset\": 0,\n  \"limit\": 100\n}\n```"
      parameters:
      - name: query
        in: query
        required: false
        description: Search query for a merchant name
        schema:
          type: string
      - name: place
        in: query
        required: false
        description: 'Search query for a place (country, city or district) name: the most relevant places, if any, are taken as a filter'
        schema:
          type: string
      - name: placeIds
        in: query
        required: false
        description: DEPRECATED. Filter by place found by id. Semicolon separated.
        schema:
          type: string
      - name: centerPoint
        in: query
        required: false
        description: Search with coordinates and radius. "radius" argument can be set, otherwise default value of 10 km will be used.<br>Format:<br>53.1222,13.0303<br>where latitude=53.1222, longitude=13.0303
        schema:
          type: string
      - name: radius
        in: query
        required: false
        description: Radius for coordinate-based search
        schema:
          type: integer
          format: int32
          default: 10
      - name: bookable
        in: query
        required: false
        description: Filter only bookable merchants
        schema:
          type: boolean
      - name: tags
        in: query
        required: false
        description: "Filter by tags found by text. The value can be either in English or in the specific locale. Semicolon separated. All or nothing behaviour: if one single tag is not found, the whole request fails. Cannot be used in combination with 'groupedTagIds' parameter."
        schema:
          type: string
      - name: tagIds
        in: query
        required: false
        description: "Filter by tags found by id. Semicolon separated. All or nothing behaviour: if one single tag id is not found, the whole request fails. Cannot be used in combination with 'tags' parameter."
        schema:
          type: string
      - name: reviewScoreMax
        in: query
        required: false
        description: Filter by max review score (100 - 600)
        schema:
          type: integer
          format: int32
      - name: onlyWithAttributes
        in: query
        required: false
        description: Search with attributes specified only. Attribute "documents" is currently supported, requires permission
        schema:
          type: string
      - name: capacity
        in: query
        required: true
        description: Number of people. In order to be effective, "date" and "fromTime" must also be set.
        schema:
          type: integer
          format: int32
          default: 2
      - name: date
        in: query
        required: false
        description: "Date of the desired reservation in merchants' time zone. Format: yyyy-MM-dd. Availability search is only activated if \"place\" is specified."
        schema:
          type: string
          format: date
      - name: fromTime
        in: query
        required: false
        description: "Beginning of the desired reservation time frame in merchants' time zone. Format: HH:mm. Consider a 3h buffer for the time (0.5h before the given time and 2.5h after)"
        schema:
          type: string
      - name: offset
        in: query
        required: false
        description: offset
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        required: false
        description: limit
        schema:
          type: integer
          format: int32
          default: 100
      - name: Accept-Language
        in: header
        required: false
        description: language
        schema:
          type: string
      - name: ivrNumber
        in: query
        required: false
        description: ivrNumber
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantDetailsDtoList'
              examples:
                Search200Example:
                  summary: Default search 200 response
                  x-microcks-default: true
                  value:
                    merchants:
                    - id: {}
                      name: {}
                      phoneNumber: {}
                      currency: {}
                      locale: {}
                      timezone: {}
                      location: {}
                      reviewScore: {}
                      tagGroups: {}
                      images: {}
                      documents: {}
                      links: {}
                      bookable: {}
                      openingTimes: {}
                      ccvEnabled: {}
                      chain: {}
                      ivrRedirectNumber: {}
                      shortDescription: {}
                      longDescription: {}
                    size: 1
                    offset: 1
                    limit: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                Search400Example:
                  summary: Default search 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/customers:
    get:
      tags:
      - Customers
      summary: Quandoo Get a List of Customers of a Merchant
      operationId: getCustomersOfMerchant_1
      description: "This endpoint allows a third party to get a list of customers of a merchant.\nThe list is filtered, showing only the customers that the third party system has access.\nCustomer id is agent-specific if the customer was created by the agent. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the merchant with the specified id could not be found.\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated or the agent doesn't have permissions.\n\n####Request:\n* **merchantId**: Identifier of the merchant\n* **offset**: sets the starting element to be returned. Defaults to 0 when unset or malformed.\n* **limit**: maximum number of results to be returned. Value must be between 1 and 100. Defaults to 100 when unset, malformed or outside bounds.\n* **modifiedSince**: earliest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss\n* **modifiedUntil**: latest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss\n\n####Response:\nThe response contains the following data of the customer as explained below:\n* **id**: The agent-dependent identifier of the customer \n* **title**: The title of the customer. _Optional_\n* **firstName**: First name of the customer. _Optional_\n* **lastName**: Last name of the customer. _Optional_\n* **email**: The given email of this customer. _Optional_\n* **gender**: The given gender of the customer (one of MALE, FEMALE, OTHER or UNDEFINED). _Optional_\n* **phoneNumber**: The phone number of the customer. _Optional_\n* **mobileNumber**: The mobile phone number of the customer. _Optional_\n* **locale**: The locale of the customer.\n* **links**: Related links that can be followed based on this response\n* **subscriptions**: The newsletter subscriptions, e.g. QUANDOO, MERCHANT\n* **statistics**: The customer statistics: number of successful, cancelled and no-show reservations\n* **createdAt**: The date the customer was created. Format: yyyy-MM-ddTHH:mm:ssZ\n* **updatedAt**: The date the customer was last updated. Format: yyyy-MM-ddTHH:mm:ssZ\n\nExample curl:\n```\ncurl https://{host}/v{X}/merchants/1234/customers\n```\n\nExample response: \n```\n{\n  \"result\": [\n    {\n      \"id\": \"9ffb3466-3562-42cc-add1-92a46a2f0902\",\n      \"customerRef\": \"9ffb3466-3562-42cc-add1-92a46a2f0902\",\n      \"marketingFlags\": [\n        {\n          \"marketingSettingType\": \"NEWSLETTERS\",\n          \"marketingSettingStatus\": \"INACTIVE\"\n        },\n        {\n          \"marketingSettingType\": \"PROMO_CODES\",\n          \"marketingSettingStatus\": \"ACTIVE\"\n        }\n      ],\n      \"title\": \"Mr.\",\n      \"firstName\": \"John\",\n      \"lastName\": \"Doe\",\n      \"email\": \"test@quandoo.de\",\n      \"phoneNumber\": \"+493012345678\",\n      \"mobileNumber\": \"+17712345678\",\n      \"locale\": \"de_DE\",\n      \"links\": [\n        {\n          \"href\": \"http://localhost:39250/v1/customers/9ffb3466-3562-42cc-add1-92a46a2f0902/reservations\",\n          \"method\": \"GET\",\n          \"rel\": \"get-customer-reservations\"\n        }\n      ],\n      \"subscriptions\": [\n        {\n          \"id\": \"QUANDOO\"\n        }\n      ],\n      \"statistics\": {\n        \"reservationSuccessfulCount\": 8,\n        \"reservationCancelledCount\": 5,\n        \"reservationNoShowCount\": 2\n      },\n      \"createdAt\": \"2018-11-22T18:42:16Z\",\n      \"updatedAt\": \"2018-11-30T18:16:02Z\"\n    }\n  ],\n  \"offset\": 0,\n  \"limit\": 100\n}\n```\n"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: Id of the merchant
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: offset
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        required: false
        description: limit
        schema:
          type: integer
          format: int32
          default: 100
      - name: modifiedSince
        in: query
        required: false
        description: 'modifiedSince. Format: yyyy-MM-dd HH:mm:ss'
        schema:
          type: string
          format: date-time
      - name: modifiedUntil
        in: query
        required: false
        description: 'modifiedUntil. Format: yyyy-MM-dd HH:mm:ss'
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDataList'
              examples:
                GetCustomersOfMerchant1200Example:
                  summary: Default getCustomersOfMerchant_1 200 response
                  x-microcks-default: true
                  value:
                    result:
                    - id: {}
                      customerRef: {}
                      marketingFlags: {}
                      title: {}
                      firstName: {}
                      lastName: {}
                      email: {}
                      phoneNumber: {}
                      mobileNumber: {}
                      locale: {}
                      links: {}
                      subscriptions: {}
                      statistics: {}
                      updatedAt: {}
                    offset: 1
                    limit: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomersOfMerchant1400Example:
                  summary: Default getCustomersOfMerchant_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomersOfMerchant1403Example:
                  summary: Default getCustomersOfMerchant_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomersOfMerchant1404Example:
                  summary: Default getCustomersOfMerchant_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetCustomersOfMerchant1500Example:
                  summary: Default getCustomersOfMerchant_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/reservation-enquiries:
    put:
      tags:
      - Reservation Enquiries
      summary: Quandoo Create Reservation Enquiries
      operationId: createReservationEnquiry_1
      description: "This endpoint allows to create a reservation enquiry for a certain capacity, start and end time. It also requires certain customer information. All optional fields can be either omitted or set to null. The endpoint is idempotent, which means sending the same request twice will not create another reservation enquiry. For that purpose the client is required to generate an agent-specific unique ID for each request.\n\nThe endpoint will return status `HTTP 400` should any of the required parameters be missing or formatted incorrectly. See schema for details. \n\n####Request:\nThe request needs to have 3 objects: reservation enquiry, customer and tracking information.\n\n* **reservationEnquiry**: Information about the merchant and the enquiry.\n  * **id**: The unique identifier of the reservation enquiry for the calling agent (Agent dependent field) or NULL if the agent identifier should be created. Optional.\n  * **merchantId**: The ID of the merchant at which this enquiry will be made. **Required**.\n  * **capacity**: The capacity (people count) of the reservation enquiry. **Required**.\n  * **startDateTime**: The start date and time when the customer wants to make a reservation. Format: yyyy-MM-ddTHH:mm:ssZ. **Required**.\n  * **endDateTime**: The expected date and time for the reservation to end accordingly to the customer. Format: yyyy-MM-ddTHH:mm:ssZ. **Required**.\n  * **message**: A free-text message to the merchant. Max of 5000 characters. **Required**.\n\n* **customer**: Information on the customer making the reservation.\n  * **id**: Identifier of the customer for the calling agent. Agent dependent field. Optional.\n  * **firstName**: The first name of the customer. Optional.\n  * **lastName**: The last name of the customer. Optional.\n  * **emailAddress**: The email address of the customer. **Required**.\n  * **phoneNumber**: The phone number of the customer. Without country code, since it will be assumed from the country field. Example: 030120765890. **Required**.\n  * **locale**: The locale of the customer. E.g. de_DE. **Required**.\n  * **country**: The 2 letter ISO country of the customer. E.g DE. **Required**\n  * **subscriptions**: List of requested subscriptions e.g. QUANDOO, MERCHANT. Optional.\n\n* **tracking**: Third party information used to track customer and reservation enquiry.\n  * **agent**: The id of the agent creating this reservation enquiry. **Required**.\n  * **cookie**: Cookie information to be stored with this reservation. Optional.\n\n####Response:\nThe response returns information on the created reservation enquiry and the customer along with relevant links to follow.\n\n* **reservationEnquiry**: Information on the created reservation enquiry.\n  * **id**: Agent-specific id set for the reservation enquiry.\n\n* **customer**: Information on the customer.\n  * **id**: Agent-specific id set for the customer.\n\n* **links**: Related links that can be followed based on this response.\n\nExample curl:\n```\ncurl -H \"Content-Type: application/json\" -X POST -d '\n{\n  \"reservationEnquiry\": {\n    \"id\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n    \"merchantId\": 15,\n    \"capacity\": 10,\n    \"startDateTime\": \"2015-06-22T12:00:00+00:00\",\n    \"endDateTime\": \"2015-06-22T17:00:00+00:00\",\n    \"message\": \"Customer specific message\"\n  },\n  \"customer\": {\n        \"id\": \"659b9f4b-cd1a-4dc9-a5c3-8ef6bacbade5\",\n        \"firstName\": \"Hans\",\n        \"lastName\": \"Wurst\",\n        \"emailAddress\": \"hans.wurst@foo.bar\",\n        \"phoneNumber\": \"017312345678\",\n        \"locale\": \"de_DE\",\n        \"country\": \"DE\",\n        \"subscriptions\": [\n          {\n              \"id\": \"QUANDOO\"\n          },\n          {\n              \"id\": \"MERCHANT\"\n          }\n      ]\n    },\n    \"tracking\": {\n        \"agent\": {\n          \"id\": 3\n        },\n        \"cookie\": {\n            \"tracking\": \"ff819cdc9\",\n            \"referenceId\": \"07f53b36\"\n        }\n    }\n}' https://{host}/v{X}/reservation-enquiries\n```\n\nExample
        response:\n```\n{\n  \"reservationEnquiry\": {\n    \"id\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\"\n  },\n  \"customer\": {\n    \"id\": \"2cc29cba-1e1f-4af6-8184-386e19c891ec\"\n  },\n  \"links\": [\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15\",\n      \"method\": \"GET\",\n      \"rel\": \"get-merchant\"\n    },\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15/reservation-settings\",\n      \"method\": \"GET\",\n      \"rel\": \"reservation-settings\"\n    },\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15/availabilities\",\n      \"method\": \"GET\",\n      \"rel\": \"availability_days\"\n    },\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15/availabilities/2015-06-22/times\",\n      \"method\": \"GET\",\n      \"rel\": \"availability\"\n    }\n  ]\n}\n```"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantReservationEnquiryData'
            examples:
              CreateReservationEnquiry1RequestExample:
                summary: Default createReservationEnquiry_1 request
                x-microcks-default: true
                value:
                  reservationEnquiry:
                    id: '88086'
                    merchantId: 88086
                    capacity: 4
                    startDateTime: '2026-07-15T19:30:00'
                    endDateTime: '2026-07-15T19:30:00'
                    message: Window table preferred if available.
                  customer:
                    id: '88086'
                    firstName: Jane
                    lastName: Smith
                    emailAddress: jane.smith@example.com
                    phoneNumber: '030120765890'
                    locale: de_DE
                    country: DE
                    subscriptions:
                    - {}
                  tracking:
                    agent: {}
                    cookie: {}
        description: Reservation enquiry data
      responses:
        '200':
          description: Reservation enquiry successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedReservationEnquiryData'
              examples:
                CreateReservationEnquiry1200Example:
                  summary: Default createReservationEnquiry_1 200 response
                  x-microcks-default: true
                  value:
                    reservationEnquiry:
                      id: '88086'
                    customer:
                      id: '88086'
                    links:
                    - href: {}
                      method: {}
                      rel: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateReservationEnquiry1400Example:
                  summary: Default createReservationEnquiry_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                CreateReservationEnquiry1500Example:
                  summary: Default createReservationEnquiry_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/reservation-enquiries/{reservationEnquiryId}:
    get:
      tags:
      - Reservation Enquiries
      summary: Quandoo Get Reservation Enquiry by Id
      operationId: getReservationEnquiry_1
      description: "This endpoint allows an agent to get an reservation enquiry by id. The id is agent-specific. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the reservation enquiry with the specified id could not be found.\n\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated, if the agent doesn't have permissions or the reservation enquiry doesn't belong to the authenticated agent.\n\n####Request:\n* **reservationEnquiryId**: Agent-specific ID of the requested reservation enquiry\n\n####Response:\n* **id**: The agent-dependent unique id of the reservation enquiry\n* **merchantId**: The ID of the merchant at which this reservation enquiry was made\n* **customerId**: The ID of the customer to which this reservation enquiry belongs\n* **capacity**: The capacity (people count) of the reservation enquiry\n* **startDateTime**: The start date time of the reservation enquiry. Format: yyyy-MM-ddTHH:mm:ssZ\n* **endDateTime**: The end date time of the reservation enquiry. Format: yyyy-MM-ddTHH:mm:ssZ\n* **status**: The status of the reservation enquiry which can be one of:  NEW, IN_PROGRESS, ACCEPTED or REJECTED\n\nExample curl:\n```\ncurl https://{host}/v{X}/reservation-enquiries/07f53b36-3f48-11e5-a151-feff819cdc9f\n```\n\nExample response:\n```\n{\n  \"id\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n  \"merchantId\": 1384,\n  \"customerId\": \"35fff464-142c-48ac-a0c6-ed72a1615664\",\n  \"capacity\": 4,\n  \"startTime\": \"2015-06-22T12:00:00+00:00\",\n  \"endTime\": \"2015-06-22T13:00:00+00:00\",\n  \"status\": \"NEW\"\n}\n```"
      parameters:
      - name: reservationEnquiryId
        in: path
        required: true
        description: Id of the reservation enquiry
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetReservationEnquiryData'
              examples:
                GetReservationEnquiry1200Example:
                  summary: Default getReservationEnquiry_1 200 response
                  x-microcks-default: true
                  value:
                    id: '88086'
                    merchantId: 88086
                    customerId: '88086'
                    capacity: 4
                    startDateTime: '2026-07-15T19:30:00'
                    endDateTime: '2026-07-15T19:30:00'
                    status: CONFIRMED
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationEnquiry1400Example:
                  summary: Default getReservationEnquiry_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationEnquiry1403Example:
                  summary: Default getReservationEnquiry_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Reservation enquiry not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationEnquiry1404Example:
                  summary: Default getReservationEnquiry_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationEnquiry1500Example:
                  summary: Default getReservationEnquiry_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    patch:
      tags:
      - Reservation Enquiries
      summary: Quandoo Update Status of Reservation Enquiry by Id
      operationId: updateReservationEnquiry_1
      description: "This endpoint allows to update the status of a reservation enquiry with the given ID. The allowed status transitions are as following:\n\n* NEW --> IN_PROGRESS --> {ACCEPTED/REJECTED}\n* ACCEPTED <--> REJECTED\n\nThe endpoint will return `HTTP 404 - Not Found` if the reservation enquiry with the specified id could not be found.\n\nThe endpoint will return `HTTP 400 - Bad Request` if the specified status is wrong.\n\nThe endpoint will return `HTTP 409 - Conflict` if the status change is invalid.\n\nThe endpoint will return `HTTP 403 - Forbidden` if the agent is not authenticated, if the agent doesn't have permissions or the reservation enquiry \ndoesn't belong to the authenticated agent.\n\n####Request:\n* **reservationEnquiryId**: Agent-specific ID of the requested reservation enquiry\n* **reservationEnquiryData**: The new enquiry status\n"
      parameters:
      - name: reservationEnquiryId
        in: path
        required: true
        description: Id of the reservation enquiry
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReservationEnquiryData'
            examples:
              UpdateReservationEnquiry1RequestExample:
                summary: Default updateReservationEnquiry_1 request
                x-microcks-default: true
                value:
                  status: CONFIRMED
        description: New reservation enquiry status
      responses:
        '200':
          description: OK
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateReservationEnquiry1400Example:
                  summary: Default updateReservationEnquiry_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateReservationEnquiry1403Example:
                  summary: Default updateReservationEnquiry_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Invalid reservation enquiry status transition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateReservationEnquiry1404Example:
                  summary: Default updateReservationEnquiry_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                UpdateReservationEnquiry1500Example:
                  summary: Default updateReservationEnquiry_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/reservation-enquiries/{reservationEnquiryId}/messages:
    get:
      tags:
      - Reservation Enquiries
      summary: Quandoo Get All Messages of a Reservation Enquiry
      operationId: getMessagesForReservationEnquiry_1
      description: "This endpoint allows an agent to get all messages of a reservation enquiry. The id of the reservation enquiry is agent-specific. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the reservation enquiry with the specified id could not be found.\n\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated, if the agent doesn't have permissions or the reservation enquiry doesn't belong to the authenticated agent.\n\n####Request:\n* **reservationEnquiryId**: Agent-specific ID of the requested reservation enquiry\n\n####Response:\nThe response will contain a _list_ of messages. Each one containing the following fields:\n* **senderType**: If this message was sent by the customer or by the merchant \n* **creationDate**: The date time that this message was created. Format: yyyy-MM-ddTHH:mm:ssZ\n* **message**: The text of the message itself.\n\nExample curl:\n```\ncurl https://{host}/v{X}/reservation-enquiries/07f53b36-3f48-11e5-a151-feff819cdc9f/messages\n```\n\nExample response:\n```\n{\n  \"messages\": [\n    {\n      \"senderType\": \"CUSTOMER\",\n      \"message\": \"Customer specific message\",\n      \"creationDate\": \"2018-05-04T09:26:53Z\"\n    }\n  ]\n}\n```"
      parameters:
      - name: reservationEnquiryId
        in: path
        required: true
        description: Id of the reservation enquiry
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationEnquiryMessageList'
              examples:
                GetMessagesForReservationEnquiry1200Example:
                  summary: Default getMessagesForReservationEnquiry_1 200 response
                  x-microcks-default: true
                  value:
                    messages:
                    - senderType: {}
                      message: {}
                      creationDate: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMessagesForReservationEnquiry1400Example:
                  summary: Default getMessagesForReservationEnquiry_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMessagesForReservationEnquiry1403Example:
                  summary: Default getMessagesForReservationEnquiry_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Reservation enquiry not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMessagesForReservationEnquiry1404Example:
                  summary: Default getMessagesForReservationEnquiry_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetMessagesForReservationEnquiry1500Example:
                  summary: Default getMessagesForReservationEnquiry_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/availabilities/{date}/times:
    get:
      tags:
      - Availabilities
      summary: Quandoo Get Merchant Availability Time Slots
      operationId: availabilityOptions_1
      description: "This endpoint returns availability time slots which can be reserved for a given capacity.\n\n####Request parameters:\n* **merchantId**: Id of the merchant. Path parameter.\n* **date**: Specifies date of the desired reservation. Format: `yyyy-MM-dd`. Path parameter.\n* **fromTime**: Beginning of the desired reservation time frame. Format: `HH:mm`. Optional.\n* **toTime**: End of the desired reservation time frame. Format: `HH:mm`. Optional.\n* **agentId**: Id of the agent making the request\n* **capacity**: Specifies the number of people in reservation. Availabilities will be returned based on this capacity. If not provided, the default value is 2.\n* **areaId**: Restricts availabilities to a certain area. Optional.\n    \n####Response:\nThe response returns availability time slots that could be reserved, along with the areas it is associated with and contains information on how much should be paid if the reservation is cancelled by a client. \n\n* **timeSlots**: List of available time slots.\n  * **areaIds**: List of areas for which this time slot can be reserved.\n  * **dateTime**: Date and time of the available slot. Format: `yyyy-MM-dd'T'HH:mm:ssZ`\n  * **occupancy**: Occupancy of the available time slot. This is an integer between `0` and `100`.\n  * **vaultSettingsId**: ID of the vault setting, if there is any. See: `vaultSettings`\n* **vaultSettings**: Credit card vault settings representing the fees to be paid in case of cancellation.\n  * **id**: ID of the setting as shown in `timeSlots`.\n  * **fee**: Fee to be paid in case of cancellation. Currency is defined by merchant. See reservation-settings.\n  * **feeType**: Type of fee to be paid. Can be `PER_PERSON` or `PER_RESERVATION`.\n  * **feePercentageForTime**: Fee percentage depending of the time of cancellation. Format: `\"{hoursStart}-{hoursEnd}\": {percentage}` , where hours are the number of hours before the visit.\n* **links**: Related links that can be followed based on this response.\n\n####Example curl:\n```\ncurl https://{host}/v{X}/merchants/15/availabilities/2017-11-09/times?capacity=2&areaId=24&agentId=3&fromTime=10:45&toTime=12:45\n```\n\n\n####Example response:\n```\n{ \n    \"timeSlots\": [ \n        { \n            \"areaIds\": [33532, 33533], \n            \"dateTime\": \"2017-09-27T10:45:00+01:00\", \n            \"occupancy\": 0, \n            \"vaultSettingId\": \"284d701f-f79a-4efa-9859-fd09851dfdce\"\n        }, \n        ... \n    ], \n    \"vaultSettings\": [ \n         { \n            \"id\": \"284d701f-f79a-4efa-9859-fd09851dfdce\", \n             \"fee\": \"10.00\", \n             \"feeType\": \"PER_PERSON\", \n             \"feePercentageForTime\": \n                { \n                  \"0-12\":100, \n                  \"12-24\":50, \n                  \"24-48\":20 \n                } \n         } \n     ], \n    \"links\": [\n      {\n        \"href\": \"https://{host}/v{X}/merchants/15\",\n        \"method\": \"GET\",\n        \"rel\": \"parent\"\n      },\n      {\n        \"href\": \"https://{host}/v{X}/merchants/15/reservation-settings\",\n        \"method\": \"GET\",\n        \"rel\": \"reservation-settings\"\n      },\n      {\n        \"href\": \"https://{host}/v{X}/merchants/reservations\",\n        \"method\": \"PUT\",\n        \"rel\": \"create-reservation\"\n      }\n    ]\n} \n```"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: Id of the merchant
        schema:
          type: integer
          format: int32
      - name: agentId
        in: query
        required: true
        description: Id of the agent
        schema:
          type: integer
          format: int32
      - name: capacity
        in: query
        required: true
        description: Number of people
        schema:
          type: integer
          format: int32
          default: 2
      - name: date
        in: path
        required: true
        description: 'Date of the desired reservation. Format: yyyy-MM-dd'
        schema:
          type: string
          format: date
      - name: fromTime
        in: query
        required: false
        description: 'Beginning of the desired reservation time frame. Format: HH:mm'
        schema:
          type: string
      - name: toTime
        in: query
        required: false
        description: 'End of the desired reservation time frame. Format: HH:mm'
        schema:
          type: string
      - name: areaId
        in: query
        required: false
        description: Id of the area
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Merchant availabilities response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAvailabilityDtoList'
              examples:
                AvailabilityOptions1200Example:
                  summary: Default availabilityOptions_1 200 response
                  x-microcks-default: true
                  value:
                    timeSlots:
                    - dateTime: {}
                      occupancy: {}
                      areaIds: {}
                      vaultSettingsId: {}
                    vaultSettings:
                    - id: {}
                      fee: {}
                      feeType: {}
                      feePercentageForTime: {}
                    links:
                    - href: {}
                      method: {}
                      rel: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityOptions1400Example:
                  summary: Default availabilityOptions_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityOptions1500Example:
                  summary: Default availabilityOptions_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Agent type not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityOptions1404Example:
                  summary: Default availabilityOptions_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/availabilities:
    get:
      tags:
      - Availabilities
      summary: Quandoo Get Merchant Availability Days
      operationId: availabilityDays_1
      description: "This endpoint returns days which a customer can select for his reservation. The response is based on when the merchant is known to be open. It is not guaranteed that they have available times for reservation. The days are returned starting from the first available day up to the merchant-defined limit, but never more than 365 days.\n\n####Request parameters:\n* **merchantId**: Id of the merchant. Path parameter.\n* **agentId**: Id of the agent making the request\n* **capacity**: Specifies the number of people in reservation. Availability days will be returned based on this capacity.\n\n####Response:\nThe response returns availability days that could be selected for reservation. \n* **days**: List of availability days that could be reserved. Format: yyyy-MM-dd \n* **links**: Related links that can be followed based on this response.\n\n####Example curl:\n```\ncurl https://{host}/v{X}/merchants/15/availabilities?agentId=3&capacity=4\n```\n\n\n####Example response:\n```\n{\n  \"days\": [\n    \"2017-01-01\",\n    \"2017-01-02\",\n    \"2017-01-03\",\n     ...\n  ],\n  \"links\": [\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15\",\n      \"method\": \"GET\",\n      \"rel\": \"parent\"\n    },\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15/reservation-settings\",\n      \"method\": \"GET\",\n      \"rel\": \"settings\"\n    },\n    {\n      \"href\": \"https://{host}/v{X}/merchants/15/availabilities/2017-01-01/times\",\n      \"method\": \"GET\",\n      \"rel\": \"availabilities\"\n    }\n  ]\n}\n```"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: Id of the merchant
        schema:
          type: integer
          format: int32
      - name: agentId
        in: query
        required: true
        description: Id of the agent
        schema:
          type: integer
          format: int32
      - name: capacity
        in: query
        required: false
        description: Number of people
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Merchant availabilities response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantAvailabilityDaysDto'
              examples:
                AvailabilityDays1200Example:
                  summary: Default availabilityDays_1 200 response
                  x-microcks-default: true
                  value:
                    days:
                    - '2026-07-15'
                    links:
                    - href: {}
                      method: {}
                      rel: {}
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityDays1400Example:
                  summary: Default availabilityDays_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityDays1500Example:
                  summary: Default availabilityDays_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Agent not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                AvailabilityDays1404Example:
                  summary: Default availabilityDays_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/reservations:
    get:
      tags:
      - Merchants
      summary: Quandoo Get Merchant Reservations
      operationId: getReservations_2
      description: "This endpoint allows an agent to get reservations of a merchant. The results will be filtered by agent id. \nReservation IDs in response are agent-specific. The agent needs to be authenticated.\n\nThe endpoint will return `HTTP 404 - Not Found` if the merchant with the specified id could not be found.\nIt will return `HTTP 403 - Forbidden` if the agent is not authenticated or the agent doesn't have permissions.\n\n####Request:\n* **merchantId**: ID of the merchant\n* **offset**: sets the starting element to be returned. Defaults to 0 when unset or malformed.\n* **limit**: maximum number of results to be returned. Value must be between 1 and 100. Defaults to 100 when unset, malformed or outside bounds.\n* **earliest**: earliest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss\n* **latest**: latest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss\n\n\n####Response:\nThe response will be a _list_ of reservations. Each reservation has the fields explained below:\n* **id**: The public id of the reservation\n* **number**: Quandoo internal identifier of the reservation.\n* **quandooId**: The public id of this reservation on quandoo system.\n* **status**: The status of the reservation eg. CREATED, CONFIRMED, CUSTOMER CANCELED etc.\n* **startTime**: The start time of the reservation. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **endTime**: The end time of the reservation. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **capacity**: The capacity (people count) of the reservation\n* **merchantId**: The ID of the merchant at which this reservation was made.\n* **customerId**: The public ID of the customer to which this reservation belongs\n* **promoCode**: The promotion code associated with this reservation. Optional.\n* **extraInfo**: extra information that the customer provided for the reservation. Optional.\n* **links**: Related links that can be followed based on this response.\n* **createdAt**: The date the reservation was created. Format: `yyyy-MM-ddTHH:mm:ssZ`\n* **updatedAt**: The date the reservation was last updated. Format: `yyyy-MM-ddTHH:mm:ssZ`\n\nExample curl:\n```\ncurl https://{host}/v{X}/merchants/32489/reservations\n```\n\nExample response: \n```\n{\n  \"reservations\": [\n    {\n      \"id\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n      \"number\": 8734957,\n      \"quandooId\": \"07f53b36-3f48-11e5-a151-feff819cdc9f\",\n      \"status\": \"CREATED\",\n      \"startTime\": \"2015-06-22T12:00:00+00:00\",\n      \"endTime\": \"2015-06-22T13:00:00+00:00\",\n      \"capacity\": 4,\n      \"merchantId\": 1384,\n      \"customerId\": \"ce0706ff-a95d-4229-a220-d21dcd175342\",\n      \"promocode\": \"SOME_CAMPAIGN_CODE\",\n      \"extraInfo\": \"request for baby chair\",\n      \"links\": [\n        {\n          \"href\": \"https://{host}/v{X}/reservations/07f53b36-3f48-11e5-a151-feff819cdc9f\",\n          \"method\": \"GET\",\n          \"rel\": \"self\"\n        },\n        {\n          \"href\": \"https://{host}/v{X}/reservations/07f53b36-3f48-11e5-a151-feff819cdc9f\",\n          \"method\": \"PATCH\",\n          \"rel\": \"update\"\n        }\n      ],\n      \"createdAt\": \"2015-06-01T15:21:54Z\",\n      \"updatedAt\": \"2015-06-01T18:45:30Z\"\n    },\n    {\n      \"id\": \"d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n      \"number\": 8734958,\n      \"quandooId\": \"d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n      \"status\": \"CONFIRMED\",\n      \"startTime\": \"2015-06-22T12:00:00+00:00\",\n      \"endTime\": \"2015-06-22T13:00:00+00:00\",\n      \"capacity\": 3,\n      \"merchantId\": 1384,\n      \"customerId\": \"ce0706ff-a95d-4229-a220-d21dcd175342\",\n      \"promocode\": \"SOME_CAMPAIGN_CODE\",\n      \"links\": [\n        {\n          \"href\": \"https://{host}/v{X}/reservations/d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n          \"method\": \"GET\",\n          \"rel\": \"self\"\n        },\n        {\n          \"href\": \"https://{host}/v{X}/reservations/d8f53b36-3f48-11e5-a151-feff819cdc7a\",\n          \"method\": \"PATCH\",\n          \"rel\": \"update\"\n        }\n      ],\n     \
        \ \"createdAt\": \"2015-06-01T15:21:54Z\",\n      \"updatedAt\": \"2015-06-01T18:45:30Z\"\n    }\n  ],\n  offset:0,\n  limit:100\n}\n```\n"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: Id of the merchant
        schema:
          type: integer
          format: int32
      - name: offset
        in: query
        required: false
        description: Skip first n reservations
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        required: false
        description: limit
        schema:
          type: integer
          format: int32
          default: 100
      - name: earliest
        in: query
        required: false
        description: 'earliest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss'
        schema:
          type: string
          format: date-time
      - name: latest
        in: query
        required: false
        description: 'latest date time of time window in UTC. Format: yyyy-MM-dd HH:mm:ss'
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantReservationDataList'
              examples:
                GetReservations2200Example:
                  summary: Default getReservations_2 200 response
                  x-microcks-default: true
                  value:
                    reservations:
                    - id: {}
                      number: {}
                      reservationNumber: {}
                      quandooId: {}
                      status: {}
                      updatedAt: {}
                      capacity: {}
                      merchantId: {}
                      customerId: {}
                      promocode: {}
                      extraInfo: {}
                      links: {}
                      reservationTags: {}
                    offset: 1
                    limit: 1
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations2400Example:
                  summary: Default getReservations_2 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations2403Example:
                  summary: Default getReservations_2 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Merchant not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations2404Example:
                  summary: Default getReservations_2 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservations2500Example:
                  summary: Default getReservations_2 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/reservation_tags:
    get:
      tags:
      - Reservations Tags
      summary: Quandoo Get Merchant Reservation Tags
      operationId: getReservationTags_1
      description: "This endpoint returns all active reservation tags for a merchant.\n####Request:\n* **merchantId**: merchant's ID. Taken as a path parameter.\n\n####Response:\n* **id**: reservation tag's ID.\n* **name**: tag's name. Default tag names are usually translated to merchant's locale.\n* **merchantId**: merchant's ID.\n\nIt will return `HTTP 403 - AUTHENTICATION_ERROR` if the user is not authenticated.\n\nExample response:\n```\n{\n    \"reservationTags\": [\n        {\n            \"id\": 5,\n            \"name\": \"Birthday\",\n            \"merchantId\": 3\n        },\n        {\n            \"id\": 51,\n            \"name\": \"With Children\",\n            \"merchantId\": 3\n        }\n    ]\n}\n```\n\n\nExample curl:\n```\ncurl -H \"Content-Type: application/json\" -X GET  https://{host}/v{X}/merchants/{merchantId}/reservation_tags\n```\n"
      parameters:
      - name: merchantId
        in: path
        required: true
        description: Id of the merchant
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReservationTagsDto'
              examples:
                GetReservationTags1200Example:
                  summary: Default getReservationTags_1 200 response
                  x-microcks-default: true
                  value:
                    reservationTags:
                    - id: {}
                      name: {}
                      merchantId: {}
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationTags1403Example:
                  summary: Default getReservationTags_1 403 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationTags1400Example:
                  summary: Default getReservationTags_1 400 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationTags1500Example:
                  summary: Default getReservationTags_1 500 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
        '404':
          description: Agent not found error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                GetReservationTags1404Example:
                  summary: Default getReservationTags_1 404 response
                  x-microcks-default: true
                  value:
                    errorType: BAD_REQUEST_ERROR
                    errorMessage: Window table preferred if available.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/merchants/{merchantId}/reviews:
    get:
      tags:
      - Merchants
      summary: Quandoo Retrieves Customer Reviews for a Merchant, Specified by ReviewId
      operationId: getReviews_1
[...]
